<div class=''>
  <div class='mb-4 mt-4'>
    <h2>Share Info</h2>
  </div>
  <div class="white-card mb-5" data-controller='invitation'>
    <div class="white-card-body">
      <%= form_with url: send_info_user_path, scope: :cr_access, local: true do |f| %>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class='form-group'>
              <%= f.label :type, 'Invite Using' %>
              <%= f.select :type, share_info_options, { include_blank: false }, class: 'form-control', data: { action: 'invitation#type_change' } %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
            <div class='form-group'>
              <%= f.label :data, 'Enter Phone', data: { invitation_target: 'label' } %>
              <%= f.text_field :data, class: 'form-control', required: true %>
            </div>
          </div>
        </div>

        <div class="form-group mt-2 text-right">
          <%= f.submit "Invite", class: "btn primary-btn mr-3" %>
          <%= link_to "Back", vaccinations_user_path, class: "btn primary-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
