<div class="inner-content" data-controller='qr-code'>
  <div class="">
    <%= image_tag cr_access_data.profile_picture, class: '' if cr_access_data.profile_picture.attached? %>
    <h2 class="mb-0 mt-2"><%= cr_access_data.full_name %></h2>
  </div>
  <div class="mb-3">
    <small class="text-muted mb-2">CRAccess# <%= cr_access_data.fv_code.code %></small>
  </div>
  <%= qr_code_image cr_access_data.qr_code, klass: "img-thumbnail #{qr_code_class(@cr_access_data)}" %>
  <div class="block-inline">
    <h3 class='mt-2 mb-0'><%= cr_access_data.vaccination_status.to_s.titleize %></h3>
  </div>
</div>
