<div class="table-block">
  <div class="table-heading">
    <span>Vaccination History</span>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Lot No.</th>
          <th scope="col">Expiration Date</th>
          <th scope="col">Route</th>
          <th scope="col">Site</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% vaccinations.each do |vaccine| %>
          <tr>
            <td></td>
            <td><%= vaccine.vaccination_date || '-' %></td>
            <td><%= vaccine.vaccine_name %></td>
            <td></td>
            <td><%= vaccine.lot_number || '-' %></td>
            <td></td>
            <td><%= vaccine.route || '-' %></td>
            <td><%= vaccine.site || '-' %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

