<div class="certificate-pdf">
  <div class="date">
    <strong>Date: </strong>
    <span><%= formatted_date(DateTime.now) %></span>
  </div>

  <table class="noborder">
    <tbody>
      <tr>
        <td>
          <table class="noborder">
            <tr>
              <td><strong>CRAccess Number:</strong> <%= @cr_access.fv_code&.code %></td>
            </tr>
            <tr>
              <td><strong>Name:</strong> <span><%= @cr_access.full_name %></span></td>
            </tr>
            <tr>
              <td>
                <strong>Date of Birth:</strong> <%= formatted_date(@cr_access.date_of_birth) %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Gender:</strong> <%= formatted_gender @cr_access.gender %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Guardian:</strong>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table class="noborder">
            <tr>
              <td>
                <strong>Phone:</strong> <%= @cr_access.phone_number %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Address:</strong> <%= @cr_access.address %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>City:</strong> <%= @cr_access.city %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>State:</strong> <%= @cr_access.state %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Zip:</strong> <%= @cr_access.zip_code %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>
          Vaccine Family
        </th>
        <th>
          Dose 1
        </th>
        <th>
          Dose 2
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>COVID-19 Vaccine</td>
        <td>
          <span>Vaccine Brand: <%= @first_dose.vaccine_name %></span><br>
          <span>Date: <%= formatted_date(@first_dose.vaccination_date) %></span><br>
          <span>Lot Number: <%= @first_dose.lot_number.upcase %></span><br>
          <span>Provider: <%= @first_dose.clinic_name %></span><br>
        </td>
        <td>
          <% if @cr_access.fully_vaccinated? %>
            <span>Vaccine Brand: <%= @first_dose.vaccine_name %></span><br>
            <span>Date: <%= formatted_date(@first_dose.vaccination_date) %></span><br>
            <span>Lot Number: <%= @first_dose.lot_number.upcase %></span><br>
            <span>Provider: <%= @first_dose.clinic_name %></span><br>
          <% else %>
            <span>Due: <%= formatted_date(@cr_access.second_dose_time) %></span>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
