<div data-controller='vaccination' class="vaccination-records">
  <%= hidden_field_tag :modal, @show_modal, { data: { vaccination_target: 'showModal' } } %>
  <div class='mt-4 mb-4'>
    <%= render 'history_table', vaccinations: @vaccinations, show_checkbox: true %>
    <div class='text-right'>
      <%= link_to 'Refresh Vaccinations', refresh_vaccinations_user_path, method: :post, class: 'btn primary-btn' if current_user.cr_access_data.present? %>
      <%= link_to 'View/Print Certificate', certificate_history_path(format: :pdf), class: 'btn primary-btn' if @cr_access.covid_vaccines.present? %>

      <button type="button" class="btn primary-btn" data-action="vaccination#show_modal">
        Share Record
      </button>
    </div>
  </div>

  <div class="modal fade" data-vaccination-target='modal'>
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <%= form_with model: current_user, url: share_history_path, method: :post, data: { action: 'submit->vaccination#submit' } do |f| %>
          <%= hidden_field_tag :ids, @ids, data: { vaccination_target: 'ids' } %>
          <div class="modal-header">
            <h5 class="modal-title" id="share_certificate_title">Sharing Selected Vaccination Records</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col">
                <%= label_tag :relation_ship, 'Relationship' %>
              </div>
              <div class="col">
                <%= label_tag :data, 'Email *' %>
              </div>
              <div class="col">
                <%= label_tag :data_confirmation, 'Confirm Email *' %>
              </div>
            </div>
            <div data-vaccination-target='append'>
              <%= f.fields_for :share_requests, @vaccination_share do |s| %>
                <%= render 'share_request_fields', s: s %>
              <% end %>

              <div class='text-right'>
                <%= link_to_add_association 'Add Another', f, :share_requests, class: 'btn plus-btn', form_name: :s %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit 'Send', class: 'btn primary-btn', data: { disable_with: false } %>
            <button type="button" class="btn primary-btn" data-action="vaccination#reset">Reset</button>
            <button type="button" class="btn default-btn" data-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="modal fade vaccination-modal">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="share_certificate_title1">Record Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-block">
  <div class="table-heading">
    <span>Shared Vaccinations</span>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Relationship</th>
          <th>Date</th>
          <th>Accepted At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @shared_vaccinations.each do |request| %>
          <tr>
            <td><%= request.data %></td>
            <td><%= request.status.titleize %></td>
            <td><%= request.humanize_enum('relationship') %></td>
            <td><%= formatted_date(request.created_at) %></td>
            <td><%= time_ago_in_words(request.accepted_at) if request.accepted_at.present? %></td>
            <td><%= link_to 'View Records', view_records_history_path(request_id: request.id), remote: true %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
