<div data-controller='vaccination' class="vaccination-records">
  <%= hidden_field_tag :modal, @show_modal, { data: { vaccination_target: 'showModal' } } %>
  <div class='mt-4 mb-4'>
    <%= render 'history_table', vaccinations: @vaccinations, show_checkbox: true %>
    <div class='text-right'>
      <%= link_to 'Refresh Vaccinations', refresh_vaccinations_user_path, method: :post, class: 'btn primary-btn' if current_user.cr_access_data.present? %>
      <%= link_to 'View/Print Certificate', certificate_history_path(format: :pdf), class: 'btn primary-btn' if @cr_access.covid_vaccines.present? %>

      <button type="button" class="btn primary-btn" data-action="vaccination#show_modal">
        Share Record
      </button>
    </div>
  </div>

  <div class="modal fade" data-vaccination-target='modal'>
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <%= form_with url: share_history_path, scope: 'vaccination_share' do |f| %>
          <%= hidden_field_tag :ids, @ids, data: { vaccination_target: 'ids' } %>
          <div class="modal-header">
            <h5 class="modal-title" id="share_certificate_title">Sharing Selected Vaccination Records</h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col">
                <%= label_tag :relation_ship, 'Relationship' %>
              </div>
              <div class="col">
                <%= label_tag :data, 'Email/Phone *' %>
              </div>
              <div class="col">
                <%= label_tag :data_confirmation, 'Confirm Email/Phone *' %>
              </div>
              <div class="col">
                <%= label_tag :cr_access_no, 'CRAccess#' %>
              </div>
            </div>
            <div data-vaccination-target='append'>
              <% @vaccination_shares.each_with_index do |share, index| %>
                <%= fields_for 'share[]', share do |s| %>
                  <div class="row mt-2" data-vaccination-target='formField'>
                    <div class="col">
                      <div class="select">
                        <%= select_with_errors(s, :relation_ship, relationship_options, index) %>
                      </div>
                    </div>
                    <div class="col">
                      <%= field_with_errors(s, :data, index, required: true) %>
                    </div>
                    <div class="col">
                      <%= field_with_errors(s, :data_confirmation, index, required: true) %>
                    </div>
                    <div class="col">
                      <%= field_with_errors(s, :cr_access_no, index) %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>

            <div class='text-right'>
              <%= link_to 'Add Another', '#', class: 'btn plus-btn', data: { action: 'vaccination#add_field' } %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit 'Send', class: 'btn primary-btn' %>
            <button type="button" class="btn primary-btn" data-action="vaccination#reset">Reset</button>
            <button type="button" class="btn default-btn" data-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
