<%= simple_form_for group do |f| %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="from-group">
        <%= f.input :name, input_html: { class: 'form-control' } %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <%= f.input :group_type, as: :select, include_blank: '-- Select --', collection: group_type_options, input_html: { class: 'form-control' } %>
      </div>
    </div>
  </div>

  <div class="form-group mt-2 text-right">
    <%= f.submit "Submit", class: "btn primary-btn mr-3" %>
    <%= link_to 'Back', vaccinations_user_path, class: 'btn primary-btn' %>
  </div>

<% end %>
