<div class="login-form-block">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
      <div class="login-form">
        <div class="logo">
          <%= image_tag 'login-logo.png', class: '' %>
        </div>
        <div class="heading-text">
          <h2>Login</h2>
          <small>See your growth and get consulting report</small>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email, t('views.devise.session.email') %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password, t('views.devise.session.password') %>
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="d-flex justify-content-between remember-me">
              <div class="custom-control custom-checkbox mb-2 mr-sm-2">
                <%= f.check_box :remember_me, class: 'custom-control-input' %>
                <%= f.label :remember_me, t('views.devise.session.remember_me'), class: 'custom-control-label' %>
              </div>
              <%= link_to 'Forgot Password', new_password_path('user'), class: 'forget-pass' %>
            </div>
          <% end %>

          <div class="action-btn">
            <%= f.submit t('views.devise.session.login'), class: 'btn primary-btn btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="d-xs-none col-sm-12 col-md-6 col-lg-7 col-xl-7 no-gutter">
      <div class="login-img">
        <%= image_tag 'qr-scanner.svg', class: '' %>
        <div class="logo-text">
          <h2>Turn your ideas into reality.</h2>
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
        </div>
      </div>
    </div>
  </div>
</div>
