<div class="form">
  <div class="form-group">
    <%= f.input :email, input_html: { class: 'form-control', autocomplete: 'off' } %>
  </div>
  <div class="form-group">
    <%= f.input :first_name, input_html: { class: 'form-control', autocomplete: 'off' } %>
  </div>
  <div class="form-group">
    <%= f.input :last_name, input_html: { class: 'form-control', autocomplete: 'off' } %>
  </div>
  <div class="form-group">
    <%= f.input :date_of_birth, as: :date_picker, input_html: { class: 'form-control', autocomplete: 'off' } %>
  </div>
  <div class="form-group">
    <%= f.input :phone_number, input_html: { class: 'form-control', autocomplete: 'off' } %>
  </div>
  <div class="form-group">
    <%= f.input :password, input_html: { class: 'form-control', size: 'auto', autocomplete: 'off' } %>
  </div>
  <div class="form-group">
    <%= f.input :password_confirmation, input_html: { class: 'form-control', size: 'auto', autocomplete: 'off' } %>
  </div>
</div>
