<div class="pre-reg-form">
  <div class="reg-wrapper">
    <h2>Sign up to CRAccess</h2>
    <%= simple_form_for @user, url: cr_access_url(@user) do |f| %>
      <%= render 'user_fields', f: f if @user.new_record? %>

      <%= f.fields_for :cr_access_data, @cr_access_data do |c| %>
        <%= render partial: 'cr_access_fields', locals: { f: c } unless c.object.persisted? %>
      <% end %>

      <%= f.fields_for :cr_access_data, @dependents do |c| %>
        <%= render partial: 'cr_access_fields', locals: { f: c } unless c.object.persisted? %>
      <% end %>

      <div class="mt-4">
        <%= f.submit 'Submit', class: 'btn primary-btn btn-submit' %>
      </div>
    <% end %>
  </div>
</div>
