<div class="share-info">
  <div class="white-card">
    <div class="white-card-body">
      <div class="d-flex justify-content-between flex-wrap">
        <h2>Info</h2>
        <%= link_to 'View/Print Certificate', certificate_history_path(format: :pdf), class: 'btn primary-btn' if @cr_access_data.covid_vaccines.present? %>
      </div>
      <hr>

      <div class="text-inline">
        <div class="d-flex flex-column">
          <div class="profile-image mb-3">
            <% if @cr_access_data.profile_picture.attached? %>
              <%= image_tag @cr_access_data.profile_picture, class: 'profile-image' %>
            <% else %>
              <%= image_tag 'manage-clinic.png', class: 'profile-image' %>
            <% end %>
          </div>

          <div data-controller='profile-picture'>
            <% if @cr_data_user.prepmod? %>
              <%= link_to 'Edit Photo', 'javascript:void(0);', data: { action: "click->profile-picture#click_file_input" } %>

              <%= simple_form_for @cr_access_data, url: update_profile_picture_cr_access_path(@cr_data_user),
                                  data: { profile_picture_target: 'form' } do |f| %>
                <%= f.input :profile_picture, label: false,
                            input_html: {
                              class: 'd-none',
                              data: {
                                action: "change->profile-picture#update_profile_picture",
                                profile_picture_target: 'input'
                              }
                            } %>
              <% end %>
            <% end %>
          </div>
        </div>
        <h3 class='mt-2'><%= @cr_access_data.full_name %></h3>
      </div>

      <hr>
      <div class="row mt-4">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card-text">
            <%= label_tag :first_name %>
            <%= label_tag :first_name, @cr_access_data.first_name, class: '' %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card-text">
            <%= label_tag :last_name %>
            <%= label_tag :last_name, @cr_access_data.last_name, class: '' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card-text">
            <%= label_tag :gender %>
            <%= label_tag :gender, @cr_access_data.gender, class: '' %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card-text">
            <%= label_tag :address %>
            <%= label_tag :address, @cr_access_data.address, class: '' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card-text">
            <%= label_tag :city %>
            <%= label_tag :city, @cr_access_data.city, class: '' %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card-text">
            <%= label_tag :state %>
            <%= label_tag :state, @cr_access_data.state, class: '' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card-text">
            <%= label_tag :zip_code %>
            <%= label_tag :zip_code, @cr_access_data.zip_code, class: '' %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card-text">
            <%= label_tag :phone_number %>
            <%= label_tag :phone_number, @cr_access_data.phone_number, class: '' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="date-birth card-text">
            <%= label_tag :date_of_birth %>
            <%= label_tag :date_of_birth, @cr_access_data.date_of_birth, class: '' %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card-text">
            <%= label_tag :vaccination_status %>
            <%= label_tag :vaccination_status, @cr_access_data.vaccination_status.titleize, class: '' %>
          </div>
        </div>
      </div>

      <hr>

      <div class="mt-4">
        <h3 class="mb-3">QR Code</h3>
        <div class='text-inline'>
          <div data-controller='qr-code'>
            <%= qr_code_image @qr_code, klass: "img-thumbnail #{qr_code_class(@cr_access_data)}" %>
          </div>

          <% if @fv_code.present? %>
            <div>
              <h3 class="mb-0">CRAccess#</h3>
              <div>
                <small class="text-muted"><%= @fv_code.code %></small>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'histories/history_table', vaccinations: @vaccinations %>

  <% if @groups.present? %>
    <%= render 'cr_groups/group_list', groups: @groups %>
  <% end %>
</div>
