<nav class="navbar navbar-expand-lg d-xs-none">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag 'craccess_plus_logo.png', class: 'purple' %>
    <%= image_tag 'craccess_grey_logo.png', class: 'bluiesh' %>
  <% end %>
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="sidebar-menu-toggle d-none-xs" data-controller='sidebar'>
    <a href="#" class='menu-btn' data-action='sidebar#toggle_sidebar'><%= image_tag 'menu.svg', class: '' %></a>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <small class="text-muted"><%= current_user&.full_name %></small>
        </a>
      </li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link logout' do %>
          <%= image_tag 'logout-white.svg', class: 'purple' %>
          <%= image_tag 'logout-bluiesh.svg', class: 'bluiesh' %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg d-lg-none mobile-menu">
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag 'craccess_plus_logo.png', class: 'purple' %>
    <%= image_tag 'craccess_grey_logo.png', class: 'bluiesh' %>
  <% end %>
  <div class="sidebar-menu-toggle d-none" data-controller='sidebar'>
    <a href="#" class='menu-btn' data-action='sidebar#toggle_sidebar'><%= image_tag 'menu.svg', class: '' %></a>
  </div>
  <ul class="d-md-block d-lg-none d-xl-none user-xs">
    <li class="nav-item">
      <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if current_user&.primary_cr_data&.profile_picture&.attached? %>
          <%= image_tag current_user.primary_cr_data.profile_picture, class: 'profile-image drop-shadow' %>
        <% else %>
          <%= image_tag 'manage-clinic.png', class: 'profile-image drop-shadow' %>
        <% end %>
      </a>
    </li>
  </ul>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <%= link_to root_path do %>
        <li class='<%= active_class(root_path) %>'>
          <%= image_tag 'home.svg', class: '' %>
          <span>Dashboard</span>
        </li>
      <% end %>

      <%= link_to new_cr_group_path do %>
        <li class='<%= active_class(new_cr_group_path) %>'>
          <%= image_tag 'users.svg', class: '' %>
          <span>Create New Group</span>
        </li>
      <% end %>

      <%= link_to vaccinations_user_path do %>
        <li class='<%= active_class(vaccinations_user_path) %>'>
          <%= image_tag 'history.svg', class: '' %>
          <span>History</span>
        </li>
      <% end %>

      <%= link_to edit_user_path do %>
        <li class='<%= active_class(edit_user_path) %>'>
          <%= image_tag 'user.svg', class: '' %>
          <span>Profile</span>
        </li>
      <% end %>

      <%= link_to destroy_user_session_path, method: :delete do %>
        <li>
          <%= image_tag 'logout-white.svg', class: '' %>
          <span> Logout</span>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
