<div class='nav'>
  <ul>
    <li>
      <%= link_to 'Dashboard', '#' %>
    </li>

    <li>
      <%= link_to 'Create New Group', new_cr_group_path %>
    </li>

    <li>
      <%= link_to 'History', vaccinations_user_path %>
    </li>

    <li>
      <%= link_to 'Profile', user_path %>
    </li>

    <li>
      <%= link_to 'My Requests', '#' %>
    </li>

    <li>
      <%= link_to 'Help', '#' %>
    </li>

    <li>
      <%= link_to 'Settings', '#' %>
    </li>

    <li>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</div>
